@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@keyframes wiggle {

  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(2deg);
  }
}

.wiggle-animation {
  animation: wiggle 1.5s ease-in-out infinite;
}